*
{
	margin:0px;
	padding: 0px;

}
body
{
	background-image:url(../img/fondo2.png) ;
	background-repeat: no-repeat;
	background-position:top;	
}
span.titulo
{
font-style: Arial;
font-size: 40px;
text-shadow: 6px 6px 2px rgba(150, 150, 150, 1);
font-weight: bold;
color: black;
}
#contenedor
{
	background-color: white;
	margin: 0 auto;
	margin-top: 20px;
	width: 470px;
	border: 3px rgb(214, 214, 214) solid;
}

#contenedorDatos
{
	margin: 0 auto;
	margin-top: 20px;
	width: 464px;
	border: 1px rgb(214, 214, 214) solid;

}

input[type="text"]
{
	text-align: center;
	width: 83%;
	padding: 10px 0px;
	background: transparent;
	border: 0;
	outline: none;
	color: black;
	font-size: 2em;
}


input[type="button"] {
background-image:url(../img/guardab.jpg) ;
background-repeat: no-repeat;
 border: 0;
 width: 15%;
 padding: 1.8em;
 border-radius: 3px;
 color: #fff;
 font-size: 1.0em;
 cursor: pointer;
 transition: background 0.3s ease-in-out;
}
input[type="button"]:hover {
 background-image:url(../img/guarda.jpg) ;
 animation-name: shake;
}
/*** Table Styles **/

.table-fill {
 background: white;
 border-radius:3px;
 border-collapse: collapse;
 /*height: 320px;*/
 margin: auto;  
 padding:5px;
 width: 100%;
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
 animation: float 5s infinite;
}

th {
 color:#D5DDE5;;
 background:#1b1e24;
 border-bottom:4px solid #9ea7af;
 border-right: 1px solid #343a45;
 font-size:23px;
 font-weight: 100;
 padding:24px;
 text-align:left;
 text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
 vertical-align:middle;
}

th:first-child {
 border-top-left-radius:3px;
}

th:last-child {
 border-top-right-radius:3px;
 border-right:none;
}
 
tr {
 border-top: 1px solid #C1C3D1;
 border-bottom-: 1px solid #C1C3D1;
 color:#666B85;
 font-size:16px;
 font-weight:normal;
 text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
 background:#3e94ec;
 color:#FFFFFF;
 border-top: 1px solid #22262e;
 border-bottom: 1px solid #22262e;
}

tr:first-child {
 border-top:none;
}

tr:last-child {
 border-bottom:none;
}

tr:nth-child(odd) td {
 background:#EBEBEB;
}

tr:nth-child(odd):hover td {
 background:#3e94ec;
}

tr:last-child td:first-child {
 border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
 border-bottom-right-radius:3px;
}

td 
{
 background:#FFFFFF;
 padding:10px;
 text-align:left;
 vertical-align:middle;
 font-weight:300;
 font-size:18px;
 text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
 border-right: 1px solid #C1C3D1;
}

td:last-child {
 border-right: 0px;
}

th.text-left {
 text-align: left;
}

th.text-center {
 text-align: center;
}

th.text-right {
 text-align: right;
}

td.text-left {
 text-align: left;
}